@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@keyframes gallery-slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.animate-gallery-slide {
  display: flex;
  width: max-content;
  animation: gallery-slide 45s linear infinite;
}

@keyframes floatingCareer {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-12px);
  }

  100% {
    transform: translateY(0px);
  }
}

.career-pill {
  animation: floatingCareer 5s ease-in-out infinite;
}

@keyframes riverFlow {

  from {
    stroke-dashoffset: 1000;
  }

  to {
    stroke-dashoffset: 0;
  }

}

.river-path {

  animation: riverFlow 25s linear infinite;

}